{% extends 'base.html.twig' %}
{% block body %}
  <div class="create font-weight-bold">
  	<h1 class="text-center">Update!</h1>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}