<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-3 bg-danger">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
           <img src="../img/4.jpg" style="width:110%">

           
         
            <div class="mask rgba-white-light"></div>
         
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <img src="../img/5.jpg" style="width:100%">

         
            <div class="mask rgba-white-light"></div>
         
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <img src="../img/6.jpg" style="width:110%">

            <div class="mask rgba-white-light"></div>
         
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <img src="../img/7.jpg" style="width:110%">

            <div class="mask rgba-white-light"></div>
        
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <img src="../img/2.jpg" style="width:110%">

            <div class="mask rgba-white-light"></div>
       
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
            <img src="../img/8.jpg" style="width:110% ">

            <div class="mask rgba-white-light"></div>
         
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer"py-3> <strong>Global Event Management @Copyright</strong>
  

</footer>
<!-- Footer -->
